<%= content_for :sidebar do %>
<li class="nav-header"><%= t('portfolio.sidebar.headers.portfolio') %></li>
	<li>
		<% icn = '<i class="icon-edit"></i>' %>
		<% ttl = t('portfolios.sidebar.portfolio.settings') %>
		<%= link_to "#{icn} #{ttl}".html_safe, edit_account_path(@portfolio) %>
	</li>
	<li>
		<% icn = '<i class="icon-plus"></i>' %>
		<% ttl = t('portfolios.sidebar.portfolio.add_investments') %>
		<%= link_to "#{icn} #{ttl}".html_safe, search_portfolio_investments_path(@portfolio) %>
	</li>
<%= render :partial => "sidebar/accounts" %>
<% end %>
<% title @portfolio.name %>
<div class="page-header">
	<h1 id="portfolio_name"><%= yield(:title) %></h1>
</div>
<div class="actions">
</div>
<% if @portfolio.investments.any? %>
<div class="row-fluid">
	<div class="span12">
		<h2>Investments</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Symbol</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<% @portfolio.investments.each do |investment| %>
				<tr>
					<td><%= investment.symbol %></td>
					<td><%= investment.name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% end %>