<%= content_for :sidebar do %>
<li class="nav-header">Budgets</li>
<li>
	<%= link_to new_budget_path do %>
		<%= icon_tag :pencil %>
		<%= t('budgets.action.new') %>
	<% end %>
</li>
<% end %>
<div class="page-header">
	<h1 id="budgets">Budgets</h1>
</div>
<% @budgets.each do |budget| %>
<div class="row-fluid">
	<div class="span4">
		<%= link_to budget.name, budget %>
	</div>
	<div class="span4">
		<%= budget.interval %>
	</div>
</div>	
<% end %>