<%= content_for :sidebar do %>
	<li class="nav-header"><%= t('budgets.sidebar.headers.budget_accounts') %></li>
	<% @budget.accounts.each do |account| %>
	<li>
		<%= link_to account.name, account %>
	</li>
	<% end %>
	<%= render "sidebar/shortcuts" %>
<% end %>
<div class="page-header">
	<h1><%= @budget.name %></h1>
</div>
<table class="table table-border table-stripe">
	<thead>
	<tr>
		<th>Category</th>
		<th>Budgeted</th>
		<th>Actual</th>
		<th>Difference</th>
	</tr>
	</thead>
	<tbody>
	<% @budget.budget_categories.each do |bc| %>
	<tr>
		<td><%= bc.category.name %></td>
		<td><%= bc.budgeted %></td>
		<td><%= bc.actual %></td>
		<td><%= bc.budgeted - bc.actual %></td>
	</tr>
	<% end %>
	</tbody>
</table>