<%= content_for :sidebar do %>
	<li class="nav-header"><%= t('budgets.sidebar.headers.budget_accounts') %></li>
	<% @budget.accounts.each do |account| %>
	<li>
		<%= link_to account.name, account %>
	</li>
	<% end %>
	<%= render "sidebar/shortcuts" %>
<% end %>
<div class="page-header">
	<h1>
		<%= @budget.name %>
		<small><%= @period.start_date %> - <%= @period.end_date %></small>
	</h1>
	<% if @period.active? %>
		<% days_passed = Date.today - @period.start_date %>
		<% days_total = @period.end_date - @period.start_date %>
		<%= info_bar(days_passed.to_f, days_total.to_f) %>
	<% end %>
</div>
<div class="actions">
	<%= render :partial => "budget_category" %>
	<button class="btn btn-small" data-toggle="modal" data-target="#new_budget_category">
	  <%= t('budgets.show.actions.add_category') %>
	</button>
</div>
<div class="well">
	<div class="row-fluid">
		<div class="span6">
			<p><%= t('budgets.show.well.budgeted.income') %>: <%= number_to_currency(budgeted_income = @budget.budgeted_income_for_period(@period)) %></p>
			<p><%= t('budgets.show.well.actual.income') %>: <%= number_to_currency(actual_income = @budget.actual_income_for_period(@period)) %></p>
			<%= success_bar(actual_income, budgeted_income, 10, true) %>
		</div>
		<div class="span6">
			<p><%= t('budgets.show.well.budgeted.expense') %>: <%= number_to_currency(budgeted_expense = @budget.budgeted_expense_for_period(@period)) %></p>
			<p><%= t('budgets.show.well.actual.expense') %>: <%= number_to_currency(actual_expense = @budget.actual_expense_for_period(@period)) %></p>
			<%= success_bar(actual_expense, budgeted_expense, 90) %>
		</div>
	</div>
</div>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
		<li><a href="#progress" data-toggle="tab">Progress</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="details">
			<h2><%= t('income').titleize %></h2>
			<table class="table table-border table-stripe">
				<thead>
				<tr>
					<th><%= t('budgets.show.headers.category') %></th>
					<th><%= t('budgets.show.headers.budgeted') %></th>
					<th><%= t('budgets.show.headers.actual') %></th>
					<th><%= t('budgets.show.headers.difference') %></th>
				</tr>
				</thead>
				<tbody>
				<% income_categories = @budget.income_categories.sort! { |a, b| a.category_name <=> b.category_name } %>
				<% income_categories.each do |bc| %>
				<tr>
					<td><%= bc.category.display_name %></td>
					<td><%= number_to_currency(budgeted = bc.budgeted_for_period(@period)) %></td>
					<td><%= number_to_currency(actual = bc.actual_for_period(@period)) %></td>
					<td><%= number_to_currency(budgeted - actual) %></td>
				</tr>
				<% end %>
				</tbody>
			</table>
			<h2><%= t('income').titleize %></h2>
			<table class="table table-border table-stripe">
					<thead>
					<tr>
						<th><%= t('budgets.show.headers.category') %></th>
						<th><%= t('budgets.show.headers.budgeted') %></th>
						<th><%= t('budgets.show.headers.actual') %></th>
						<th><%= t('budgets.show.headers.difference') %></th>
					</tr>
					</thead>
					<tbody>
					<% expense_categories = @budget.expense_categories.sort! { |a, b| a.category_name <=> b.category_name } %>
					<% expense_categories.each do |bc| %>
					<tr>
						<td><%= bc.category.display_name %></td>
						<td><%= number_to_currency(budgeted = bc.budgeted_for_period(@period)) %></td>
						<td><%= number_to_currency(actual = bc.actual_for_period(@period)) %></td>
						<td><%= number_to_currency(budgeted - actual) %></td>
					</tr>
					<% end %>
					</tbody>
			</table>
		</div>
		<div class="tab-pane" id="progress">
			<h2>Income</h2>
			<% income_categories.each do |bc| %>
			<div class="row-fluid">
				<div class="span4">
					<%= bc.category_name %>
				</div>
				<div class="span8">
					<%= budget_category_bar(bc.actual_for_period(@period), bc.budgeted_for_period(@period), true) %>
				</div>
			</div>
			<% end %>
			<h2>Expenses</h2>
			<% expense_categories.each do |bc| %>
			<div class="row-fluid">
				<div class="span4">
					<%= bc.category_name %>
				</div>
				<div class="span8">
					<%= budget_category_bar(bc.actual_for_period(@period), bc.budgeted_for_period(@period)) %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

