<li class="nav-header"><%= t('sidebar.header.shortcuts') %></li>
	<li>
		<%= link_to new_account_path do %>
			<%= icon_tag :pencil %>
			<%= t('sidebar.shortcuts.new_account') %>
		<% end %>
	</li>
	<% if current_user.budget.present? %>
	<li>
		<%= link_to current_user.budget do %>
			<%= icon_tag :calendar %>
			<%= current_user.budget.name %>
		<% end %>
	</li>
	<% end %>