<div class="page-header">
	<h1>User Settings</h1>
</div>

<%= simple_form_for @user, :html => { :class => "form-horizontal" } do |f| %>
	<fieldset>
	<%= f.input :username, :input_html => { :class => "input-xlarge" } %>

	<%= f.input :name do %>
		<%= f.input_field :first_name, placeholder: t('simple_form.placeholders.user.first_name'), class: "input-small" %>
		<%= f.input_field :last_name, placeholder: t('simple_form.placeholders.user.last_name'), class: "input-medium"  %>
	<% end %>

	<%= f.input :currency_id, collection: Currency.all, include_blank: false, required: true  %>
	</fieldset>

	<div class="form-actions">
		<%= f.submit "Save settings", :class => "btn btn-primary" %>
	</div>
<% end %>