<%= content_for :sidebar do %>
	<li class="nav-header"><%= t('categories.sidebar.headers.categories') %></li>
	<li>
		<%= link_to new_category_path do %>
			<%= icon_tag :pencil %>
			<%= t('categories.sidebar.categories.new') %>
		<% end %>
	</li>
	<%= render "sidebar/shortcuts" %>
<% end %>
<div class="page-header">
	<h1 id="categories">Categories</h1>
</div>
<div class="row-fluid">
	<div class="span6">
		<h2><%= t('categories.headers.income') %></h2>
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th colspan="2"><%= Category.human_attribute_name(:name) %></th>
				<th><%= t('actions') %></th>
			</tr>
			</thead>
			<tbody>
			<% current_user.categories.incomes.roots.order("name ASC").each do |category| %>
			<tr>
				<td colspan="2">
					<%= link_to category.name, category %><br/>
					<%= category.description %>
				</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							<%= t('actions') %>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to edit_category_path(category) do %>
									<%= icon_tag :edit %>
									<%= t('action.edit') %>
								<% end %>
							</li>
							<li>
								<%= link_to category, :method => :delete, :confirm => "Are you sure?" do %>
									<%= icon_tag :trash %>
									<%= t('action.delete') %>
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to new_category_path(:parent => category.id) do %>
									<%= icon_tag :pencil %>
									<%= t('categories.action.new_child') %>
								<% end %>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<% category.children.order("name ASC").each do |child| %>
			<tr>
				<td>&nbsp;</td>
				<td>
					<%= link_to child.name, child %><br/>
					<%= child.description %>
				</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							<%= t('actions') %>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to edit_category_path(child) do %>
									<%= icon_tag :edit %>
									<%= t('action.edit') %>
								<% end %>
							</li>
							<li>
								<%= link_to child, :method => :delete, :confirm => "Are you sure?" do %>
									<%= icon_tag :trash %>
									<%= t('action.delete') %>
								<% end %>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<% end %>
			<% end %>
			</tbody>
		</table>
	</div>
	<div class="span6">
		<h2><%= t('categories.headers.expense') %></h2>
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th colspan="2">Name</th>
				<th><%= t('actions') %></th>
			</tr>
			</thead>
			<tbody>
			<% current_user.categories.expenses.roots.order("name ASC").each do |category| %>
			<tr>
				<td colspan="2">
					<%= link_to category.name, category %><br/>
					<%= category.description %>
				</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							<%= t('actions') %>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to edit_category_path(category) do %>
									<%= icon_tag :edit %>
									<%= t('action.edit') %>
								<% end %>
							</li>
							<li>
								<%= link_to category, :method => :delete, :confirm => "Are you sure?" do %>
									<%= icon_tag :trash %>
									<%= t('action.delete') %>
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to new_category_path(:parent => category.id) do %>
									<%= icon_tag :pencil %>
									<%= t('categories.action.new_child') %>
								<% end %>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<% category.children.order("name ASC").each do |child| %>
			<tr>
				<td>&nbsp;</td>
				<td>
					<%= link_to child.name, child %><br/>
					<%= child.description %>
				</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							<%= t('actions') %>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to edit_category_path(child) do %>
									<%= icon_tag :edit %>
									<%= t('action.edit') %>
								<% end %>
							</li>
							<li>
								<%= link_to child, :method => :delete, :confirm => "Are you sure?" do %>
									<%= icon_tag :trash %>
									<%= t('action.delete') %>
								<% end %>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<% end %>
			<% end %>
			</tbody>
		</table>
	</div>
</div>