<ul class="nav">
	<li>
		<%= link_to overview_path do %>
			<%= icon_tag :home %>
			<%= t('navbar.my_economy') %>
		<% end %>
	</li>
	<li class="dropdown">
		<%= link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do %>
			<%= t('navbar.accounts') %>
			<%= caret_tag %>
		<% end %>
		<ul class="dropdown-menu">
			<li>
				<%= link_to new_account_path do %>
					<%= icon_tag :pencil %>
					<%= t('navbar.accounts_menu.new') %>
				<% end %>
			</li>
			<li>
				<%= link_to accounts_path do %>
					<%= icon_tag :'th-list'  %>
					<%= t('navbar.accounts_menu.listall') %>
				<% end %>
			</li>

			<% if current_user.accounts.favorites.any? %>
			<li class="divider"></li>
			<li class="nav-header"><%= t('navbar.accounts_menu.headers.favorites') %></li>
			<% current_user.accounts.favorites.each do |account| %>
			<li><%= link_to account.name, account %></li>
			<% end %>
			<% end %>
		</ul>
	</li>
	<li class="dropdown">
		<%= link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do %>
			<%= t('navbar.budgets') %>
			<%= caret_tag %>
		<% end %>
		<ul class="dropdown-menu">
			<li>
				<%= link_to new_budget_path do %>
					<%= icon_tag :pencil %>
					<%= t('navbar.budgets_menu.new') %>
				<% end %>
			</li>
			<% if !current_user.budget.nil? %>
			<li class="divider"></li>
			<li class="nav-header"><%= t('navbar.budgets_menu.headers.active') %></li>
			<li><%= link_to current_user.budget.name, current_user.budget %></li>
			<% end %>
		</ul>
	</li>
	<li class="dropdown">
		<%= link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do %>
			<%= t('navbar.categories') %>
			<%= caret_tag %>
		<% end %>
		<ul class="dropdown-menu">
			<li>
				<%= link_to new_category_path do %>
					<%= icon_tag :pencil %>
					<%= t('navbar.categories_menu.new') %>
				<% end %>
			</li>
			<li>
				<%= link_to categories_path do %>
					<%= icon_tag :'th-list' %>
					<%= t('navbar.categories_menu.listall') %>
				<% end %>
			</li>
		</ul>
	</li>
</ul>
<ul class="nav pull-right">
	<li class="dropdown">
		<%= link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do %>
			<%= icon_tag :user %>
			<%= current_user.username %>
			<%= caret_tag %>
		<% end %>
		<ul class="dropdown-menu">
			<li>
				<%= link_to overview_path do %>
					<%= icon_tag :home %>
					<%= t('navbar.user_menu.my_economy') %>
				<% end %>
			</li>
			<li>
				<%= link_to settings_path do %>
					<%= icon_tag :cogs %>
					<%= t('navbar.user_menu.settings') %>
				<% end %>
			</li>
			<li class="divider"></li>
			<li>
				<%= link_to logout_path do %>
					<%= icon_tag :signout %>
					<%= t('navbar.user_menu.logout') %>
				<% end %>
			</li>
		</ul>
</ul>