<!DOCTYPE html>
<html>
<head>
  <title>Klinkers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<script type="text/javascript" src="/js/raphael-min.js"></script>
	<script type="text/javascript" src="/js/g.raphael-min.js"></script>
	<script type="text/javascript" src="/js/g.bar-min.js"></script>
	<script type="text/javascript" src="/js/g.pie-min.js"></script>
	<script type="text/javascript" src="/js/g.line-min.js"></script>
	<script type="text/javascript" src="/js/g.dot-min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
        		<%= link_to "Klinkers", root_url, :class => "brand" %>
				<div class="nav-collapse">
					<%= render :partial => "usermenu" if current_user %>
					<% if current_user %>
					<p class="navbar-text pull-right">
						Logged in as <%= link_to current_user.username, overview_path %>, <%= link_to 'log out', logout_path %>.
					</p>
					<% else %>
					<p class="navbar-text pull-right">
						Language: <%= I18n.locale %>.
					</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<!--- Side bar -->
			<% if current_user %>
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<%= yield :sidebar %>
					</ul>	
				</div>
			</div>			
			<% end %>

			<!--- Main content -->
	    	<div class="span<%= current_user ? "9" : "12" %>">
				<!--- Flash messages -->
				<%= render :partial => "flash", :locals => { :flash => flash } %>
	      		<div class="content">
					<!--- Page content -->
					<%= yield %>
		  		</div>
	    	</div>
	  	</div>
		<hr>
		<footer>
			<p>&copy; pubis 2012 <%= I18n.locale %></p>
		</footer>
	</div>
</body>
</html>
