<div id="new_transaction" class="modal hide fade">
	<%= form_for [@account, @transaction], :remote => true, :html => {:'data-type' => 'json', :class => "form-horizontal"} do |f| %>
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3><%= t('transactions.form.headers.new') %></h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<%= f.label :type, :class => "control-label" %>
			<div class="controls">
				<%= f.select :type, Transaction.select_options %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :operation_date, :class => "control-label" %>
			<div class="controls">
				<%= f.date_select :operation_date %>
			</div>
		</div>
		<div class="control-group">
	    	<%= f.label :category, :class => "control-label" %>
			<div class="controls">
				<%= f.collection_select :category_id, Category.order('expense DESC').all, :id, :display_name, :include_blank => true %>
			</div>
		</div>
		<div class="control-group" id="account">
			<%= f.label :account, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :account, :data => {:provide => "typeahead", :items => 4, :source => current_user.accounts.pluck(:name)} %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :memo, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :memo %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :amount, :class => "control-label" %>
			<div class="controls">
				<div class="input-append">
					<%= f.text_field :amount %><span class="add-on"><%= t('number.currency.format.unit') %></span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<%= f.submit t('transactions.form.submit'), :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal"><%= t('close') %></a>
	</div>
	<% end %>
</div>